includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src/
        - tests/
        - config/

    level: 6

    phpVersion: 80400

    bootstrapFiles:
        - phpstan-bootstrap.php

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
